<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="Logowanie"></title>
</head>
<body>

<section layout:fragment="custom-content">

    <h1 th:text="#{login.header}"></h1>

    <div th:if="${param.error != null}" class="alert alert-danger">
        <span th:text="#{login.error}"></span>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" th:text="#{login.name}"></label>

            <input type="text"
                   class="form-control"
                   id="username"
                   name="username">
        </div>

        <div class="mb-3">
            <label for="password" th:text="#{login.password}"></label>

            <input type="password"
                   class="form-control"
                   id="password"
                   name="password">
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{login.button}">
        </button>
    </form>
</section>
</body>
</html>