<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.edit}"></title>
</head>
<body>
<div class="container">

    <section layout:fragment="custom-content">

        <h1 th:text="#{user.edit}"></h1>


        <form th:action="@{/person/edit/{id}(id=${person.getId()})}" th:object="${person}" method="post">

            <div class="form-group mb-3">
                <label for="userName" th:text="#{user.name}"></label>
                <input type="text" class="form-control-plaintext" id="userName" disabled
                       th:class="form-control"
                       th:field="*{username}">
            </div>

            <div class="form-group mb-3">
                <label for="newPasswordInput" th:text="#{user.password.new}"></label>
                <input type="password" class="form-control" id="newPasswordInput" th:placeholder="#{common.password}"
                       th:class="form-control + ${#fields.hasErrors('password') ? ' is-invalid' : ''}"
                       th:field="*{password}">
            </div>

<!--            <div class="form-group mb-3">-->
<!--                <label for="confirmedPasswordInput">Potwierdz nowe haslo</label>-->
<!--                <input type="password" class="form-control" id="confirmedPasswordInput" placeholder="Password"-->
<!--                       th:class="'form-control' + ${#fields.hasErrors('password') ? ' is-invalid' : ''}"-->
<!--                       th:field="*{password}">-->
<!--            </div>-->

            <div class="form-group mb-3">
                <label for="realName" th:text="#{user.long.name}"></label>
                <input type="text" class="form-control" id="realName" th:placeholder="#{common.nameAndLast}"
                       th:class="form-control + ${#fields.hasErrors('realName') ? ' is-invalid' : ''}"
                       th:field="*{realName}">
            </div>

            <div class="form-group mb-3">
                <label for="userEmail" th:text="#{user.long.email}"></label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="email"
                       th:placeholder="#{common.email}"
                       th:class="form-control"
                       th:field="*{email}">
            </div>

            <div class="form-group mb-3">
                <label th:text="#{choose.authorities}"></label>

                <div class="form-control">
                    <div class="form-check-inline">
                        <p th:each="auth : ${authoritiesList}">
                            <input id="userAuthorities"
                                   type="checkbox"
                                   th:value="${auth.id}"
                                   th:field="*{authorities}"/>

                            <label
                                    th:text="#{${'authority.'+ auth.name}}"
                                    th:for="${auth.id}"
                            ></label>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary mb-3" th:text="#{common.save}"></button>
                <a class="btn btn-primary mb-3" onclick="history.back()" th:text="#{common.cancel}"></a>
            </div>

        </form>
    </section>
</div>
</body>
</html>