<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.edit}"></title>
</head>
<body>
<div class="container">

    <section layout:fragment="custom-content">

        <h1 th:text="#{project.edit}"></h1>


        <form th:action="@{/projects/edit/{id}(id=${project.getId()})}" th:object="${project}" method="post">

            <div class="form-group mb-3">
                <label for="project-id" th:text="#{project.id}"></label>
                <input type="text" class="form-control text-muted" id="project-id" th:field="*{id}" readonly>
            </div>

            <div class="form-group mb-3">
                <label for="project-creator" th:text="#{project.creator}"></label>
                <input type="text" class="form-control text-muted" id="project-creator" th:field="*{creator.realName}"
                       readonly>
            </div>

            <div class="form-group mb-3">
                <label for="project-name" th:text="#{common.name}"></label>
                <input type="text" th:class="'form-control' + ${#fields.hasErrors('name') ? ' is-invalid' : ''}"
                       id="project-name"
                       th:field="*{name}">

                <small th:errors="*{name}" class="text-danger"
                       th:if="${#fields.hasErrors('name')}"></small>

            </div>

            <div class="form-group mb-3">
                <label for="project-description" th:text="#{common.description}"></label>

                <textarea class="form-control" th:class="form-control" th:field="*{description}"
                          id="project-description" rows="10"
                          th:placeholder="#{common.description}"></textarea>
            </div>


            <div class="form-group mb-3">
                <label for="date-created" th:text="#{issue.dateCreated}"></label>
                <input type="text" class="form-control text-muted" id="date-created" th:field="*{dateCreated}" readonly>
            </div>

            <div class="col mb-3">
                <button type="submit" class="btn btn-primary mb-3" th:text="#{common.save}"></button>
                <a th:href="@{/projects}" class="btn btn-primary mb-3" th:text="#{common.cancel}"></a>
            </div>
        </form>
    </section>
</div>
</body>
</html>