<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.index}"></title>

</head>
<body>
<div class="container">
    <section layout:fragment="custom-content">

        <form th:action="@{/projects}" th:object="${filter}" class="row">

            <div class="col">
                <a class="btn btn-primary mb-3" type="submit" th:href="@{/projects/create}"
                   th:text="#{project.new}"></a>
            </div>

            <div class="col">
                <input th:field="*{name}"
                       class="form-control"
                       th:placeholder="#{common.name}"/>
            </div>

            <div class="col">
                <select th:field="*{creator}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{project.creator}"></option>
                    <option th:each="person :  ${people}"
                            th:value="${person.getId()}"
                            th:text="${person.getRealName()}"
                    ></option>
                </select>
            </div>

            <div class="col">
                <input th:field="*{globalSearch}"
                       class="form-control"
                       th:placeholder="#{common.search.long}"/>
            </div>

            <div class="col">
                <button type="submit" th:text="#{common.search}"
                        class="btn btn-primary"></button>
                <a th:href="@{/projects}" th:text="#{common.clear}"></a>
            </div>
        </form>

        <div class="card mt-4" th:each="project : ${projects}">
            <h5 class="card-header" th:text="${project.getName()}"></h5>


            <div class="card-body">
                <dd class="card-text" th:text="'ID: ' + ${project.getId()}"></dd>
                <dd class="card-text"
                    th:text="'Description: ' + ${#strings.abbreviate(project.getDescription(), 20)}"></dd>
                <dd class="card-text"
                    th:text="'Date createad: ' + ${#dates.format(project.getDateCreated(), 'dd-MM-yyyy')}"></dd>
                <a class="btn btn-outline-secondary btn-sm"
                   th:href="@{/projects/getProject/{id}(id=${project.getId()})}">
                    <i class="btn-sm fa-solid fa-eye" data-toggle="tooltip" data-placement="bottom"
                       title="Wyświetl"></i> </a>
                <a class="btn btn-outline-primary btn-sm" th:href="@{/projects/edit/{id}(id=${project.getId()})}"><i
                        class="fa-solid fa-user-pen" data-toggle="tooltip" data-placement="bottom"
                        title="Edytuj"></i></a>
                <a class="btn btn-outline-danger btn-sm" th:href="@{/projects/delete/{id}(id=${project.getId()})}"><i
                        class="fa-solid fa-trash" data-toggle="tooltip" data-placement="bottom" title="Usuń"></i></a>
            </div>
        </div>
    </section>
</div>
</body>
</html>