<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{project.index}"></title>

</head>
<body>
<div class="container">
    <section layout:fragment="custom-content">

        <form th:action="@{/projects}" th:object="${filter}" class="row">

            <div class="col">
                <a class="btn btn-primary mb-3" type="submit" th:href="@{/projects/create}"
                   th:text="#{project.new}"></a>
            </div>

            <div class="col">
                <input th:field="*{name}"
                       class="form-control"
                       th:placeholder="#{common.name}"/>
            </div>

            <div class="col">
                <select th:field="*{creator}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{project.creator}"></option>
                    <option th:each="person :  ${people}"
                            th:value="${person.getId()}"
                            th:text="${person.getRealName()}"
                    ></option>
                </select>
            </div>

            <div class="col">
                <input th:field="*{globalSearch}"
                       class="form-control"
                       th:placeholder="#{common.search.long}"/>
            </div>

            <div class="col">
                <button type="submit" th:text="#{common.search}"
                        class="btn btn-primary"></button>
                <a th:href="@{/projects}" th:text="#{common.clear}"></a>

                <span th:with="sortingDir=${projects.sort.getOrderFor('name') != null ? projects.sort.getOrderFor('name').direction.toString() : null}">
            <a th:href="@{'/projects?' + ${filter.toQueryString(projects.number, filter.findNextSorting(projects.sort))}}">
                <i th:if="${sortingDir == null}" class="fa-solid fa-sort"></i>
                <i th:if="${sortingDir == 'ASC'}" class="fa-solid fa-sort-up"></i>
                <i th:if="${sortingDir == 'DESC'}" class="fa-solid fa-sort-down"></i>
            </a>
        </span>
            </div>
        </form>

        <div class="card mt-4 mb-3" th:each="project : ${projects}">
            <h5 class="card-header" th:text="${project.getName()}"></h5>


            <div class="card-body">
                <dd class="card-text" th:text="'ID: ' + ${project.getId()}"></dd>
                <dd class="card-text"
                    th:text="'Description: ' + ${#strings.abbreviate(project.getDescription(), 20)}"></dd>
                <dd class="card-text"
                    th:text="'Date createad: ' + ${#dates.format(project.getDateCreated(), 'dd-MM-yyyy')}"></dd>
                <a class="btn btn-outline-secondary btn-sm"
                   th:href="@{/projects/getProject/{id}(id=${project.getId()})}">
                    <i class="btn-sm fa-solid fa-eye" data-toggle="tooltip" data-placement="bottom"
                       title="Wyświetl"></i> </a>
                <a class="btn btn-outline-primary btn-sm" th:href="@{/projects/edit/{id}(id=${project.getId()})}"><i
                        class="fa-solid fa-user-pen" data-toggle="tooltip" data-placement="bottom"
                        title="Edytuj"></i></a>
                <a class="btn btn-outline-danger btn-sm" th:href="@{/projects/delete/{id}(id=${project.getId()})}"><i
                        class="fa-solid fa-trash" data-toggle="tooltip" data-placement="bottom" title="Usuń"></i></a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-1">
                <ul class="pagination">

                    <li th:if="${projects.number != 0}" class="page-item">
                        <a th:href="@{'/projects?' + ${filter.toQueryString(projects.number - 1, projects.sort)}}"
                           class="page-link">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>

                    <li th:each="pageNumber : ${#numbers.sequence(T(java.lang.Math).max(projects.number - 2, 0), T(java.lang.Math).min(projects.number + 2, projects.totalPages - 1))}"
                        th:class="${'page-item ' + ((pageNumber == projects.number) ? 'active' : '')}">
                        <a th:href="@{'/projects?' + ${filter.toQueryString(pageNumber, projects.sort)}}"
                           th:text="${pageNumber + 1}"
                           class="page-link"></a>
                    </li>

                    <li th:if="${projects.number != (projects.totalPages - 1)}" class="page-item">
                        <a th:href="@{'/projects?' + ${filter.toQueryString(projects.number + 1, projects.sort)}}"
                           class="page-link">
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </section>
</div>
</body>
</html>