<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.new}"></title>
</head>
<body>

<div class="container">

    <section layout:fragment="custom-content">

        <h1 th:text="#{issue.new}"></h1>

        <form th:action="@{/issues/save}" th:object="${issue}" method="post">


            <div class="form-group mb-3">
                <div class="input-group">
                    <input type="text" th:field="*{name}" class="form-control" th:placeholder="#{issue.name}">
                </div>
            </div>


            <div class="form-group mb-3">
                <label for="textAreaControl"></label>
                <textarea class="form-control" th:field="*{description}" id="textAreaControl" rows="10"
                          th:placeholder="#{issue.description}"></textarea>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputType" th:text="#{issue.type}"></label>
                </div>
                <select class="custom-select" th:field="*{type}" id="inputType">
                    <option th:each="typ : ${T(wsb.bugtracker.models.Type).values()}"
                            th:value="${typ}"
                            th:text="${typ}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputPriority" th:text="#{issue.priority}"></label>
                </div>
                <select class="custom-select" th:field="*{priority}" id="inputPriority">
                    <option th:each="prio : ${T(wsb.bugtracker.models.Priority).values()}"
                            th:value="${prio}"
                            th:text="${prio}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="issue-executor" th:text="#{issue.executor}"></label>
                </div>

                <select class="form-control" th:field="*{assignee}" id="issue-executor">
                    <option th:each="person : ${people}"
                            th:value="${person.id}"
                            th:text="${person.realName}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputIssue" th:text="#{issue.status}"></label>
                </div>
                <select class="custom-select" th:field="*{status}" id="inputIssue">
                    <option th:each="stat : ${T(wsb.bugtracker.models.Status).values()}"
                            th:value="${stat}"
                            th:text="${stat}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="projectSelection" th:text="#{issue.choose.project}"></label>
                </div>
                <select class="form-control" th:field="*{project}" id="projectSelection">
                    <option th:each="proj : ${projects}"
                            th:value="${proj.getId()}"
                            th:text="${proj.getName()}">
                    </option>
                </select>
            </div>

            <div class="form-group mb-3">
                <div class="input-group-prepend">
                    <label for="addFile">Dodaj załacznik</label>
                </div>
                <input type="file" class="form-control-file" id="addFile" th:field="*{attachment}">
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary mb-3" th:text="#{common.save}"></button>
                <a class="btn btn-primary mb-3" onclick="history.back()" th:text="#{common.cancel}"></a>
            </div>
        </form>
    </section>
</div>
</body>
</html>