<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.edit}"></title>
</head>
<body>
<div class="container">

    <section layout:fragment="custom-content">

        <h1 th:text="#{issue.edit}"></h1>

        <form th:action="@{/issues/edit/{id} (id=${issue.getId()})}" th:object="${issue}" method="post">


            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-text" id="inputId" th:text="${issue.getId()}"></label>
                    <input type="text" th:class="form-control" th:field="*{name}" class="form-control"
                           th:placeholder="#{issue.name}">
                </div>
            </div>


            <div class="form-group mb-3">
                <label for="textAreaControl"></label>
                <label class="input-group-text" id="descriptionField" th:text="#{common.description}"></label>
                <textarea class="form-control" th:class="form-control" th:field="*{description}" id="textAreaControl" rows="10"
                          th:placeholder="#{issue.description}"></textarea>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputType" th:text="#{issue.type}"></label>
                </div>
                <select class="form-control" th:field="*{type}" id="inputType">
                    <option th:each="typ : ${T(wsb.bugtracker.models.Type).values()}"
                            th:value="${typ}"
                            th:text="#{'type.' + ${typ}}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputPriority" th:text="#{issue.priority}"></label>
                </div>
                <select class="form-control" th:field="*{priority}" id="inputPriority">
                    <option th:each="prio : ${T(wsb.bugtracker.models.Priority).values()}"
                            th:value="${prio}"
                            th:text="#{'priority.'+ ${prio}}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputIssue" th:text="#{issue.status}"></label>
                </div>
                <select class="form-control" th:field="*{status}" id="inputIssue">
                    <option th:each="stat : ${T(wsb.bugtracker.models.Status).values()}"
                            th:value="${stat}"
                            th:text="#{'status.' + ${stat}}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="issue-creator" th:text="#{issue.executor}"></label>
                </div>

                <select class="form-control" th:class="form-control" th:field="*{assignee}" id="issue-creator">
                    <option th:each="per : ${people}"
                            th:value="${per.id}"
                            th:text="${per.realName}">
                    </option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="projectSelection" th:text="#{issue.project}"></label>
                </div>
                <select class="form-control" th:field="*{project}" id="projectSelection">
                    <option th:each="proj : ${projects}"
                            th:value="${proj.getId()}"
                            th:text="${proj.getName()}">
                    </option>
                </select>
            </div>

            <!--            <div class="form-group mb-3" th:if="${issue.attachment}">-->
            <!--                <a class="btn btn-danger" role="button" th:href="@{/issues/deleteFile/{id}(id=${issue.getId()})}"><span-->
            <!--                        th:text="#{issue.attachment.delete}"></span> </a>-->
            <!--            </div>-->


            <div class="col">
                <button type="submit" class="btn btn-primary mb-3" th:text="#{common.save}"></button>
                <a th:href="@{/issues}" class="btn btn-primary mb-3" th:text="#{common.cancel}"></a>
            </div>

        </form>
    </section>
</div>
</body>
</html>