<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.index}"></title>
</head>
<body>
<div class="container">
    <section layout:fragment="custom-content">
        <form th:action="@{/issues}" th:object="${filter}" class="row">

            <div class="col">
                <a class="btn btn-primary mb-3" type="submit" th:href="@{/issues/create}" th:text="#{issue.new}"></a>
            </div>

            <div class="col">
                <select th:field="*{project}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{issue.project}"></option>
                    <option th:each="pro : ${projects}"
                            th:value="${pro.getId()}"
                            th:text="${pro.getName()}">
                    </option>
                </select>

            </div>

            <div class="col">
                <select th:field="*{status}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{issue.status}"></option>
                    <option th:each="typ : ${T(wsb.bugtracker.models.Type).values()}"
                            th:value="${typ}"
                            th:text="${typ}">
                    </option>
                </select>
            </div>


            <div class="col">
                <select th:field="*{assignee}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{issue.executor}"></option>
                    <option th:each="per :  ${people}"
                            th:value="${per.getId()}"
                            th:text="${per.getRealName()}"
                    ></option>
                </select>
            </div>

            <div class="col">
                <button type="submit" th:text="#{common.search}"
                        class="btn btn-primary"></button>
                <a th:href="@{/issues}" th:text="#{common.clear}"></a>
            </div>

        </form>

        <div class="card mt-4" th:each="iss : ${issues}">
            <h5 class="card-header" th:text="${iss.id} + ' ' + ${iss.name}"></h5>

            <div class="card-body">
                <dd class="card-text" th:text="'Wykonawca: ' + ${iss.assignee.realName}">
                </dd>
                <dd class="card-text"
                    th:text="${#strings.abbreviate(iss.getDescription(), 20)}"></dd>
                <dd class="card-text"
                    th:text="${iss.status}"></dd>
                <dd class="card-text"
                    th:text="${iss.priority}"></dd>
                <dd class="card-text"
                    th:text="${iss.type}"></dd>

                <a class="btn btn-outline-secondary btn-sm"
                   th:href="@{/issues/view/{id}(id=${iss.getId()})}">
                    <i class="btn-sm fa-solid fa-eye" data-toggle="tooltip" data-placement="bottom"
                       title="Wyświetl"></i> </a>
                <a class="btn btn-outline-primary btn-sm" th:href="@{/issues/edit/{id}(id=${iss.getId()})}"><i
                        class="fa-solid fa-user-pen" data-toggle="tooltip" data-placement="bottom"
                        title="Edytuj"></i></a>
                <a class="btn btn-outline-danger btn-sm" th:href="@{/issues/delete/{id}(id=${iss.getId()})}"><i
                        class="fa-solid fa-trash" data-toggle="tooltip" data-placement="bottom" title="Usuń"></i></a>
            </div>
        </div>

    </section>
</div>
</body>
</html>