<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.view}"></title>
</head>
<body>
<div class="container">

    <section layout:fragment="custom-content">

        <h1 th:text="#{issue.view}"></h1>

        <form th:action="@{/issues/view/{id} (id=${issue.getId()})}" th:object="${issue}" method="get">


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" id="inputId" th:text="#{common.id}"></label>
                    <input type="text" th:class="form-control" th:field="*{id}" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" id="nameId" th:text="#{common.name}"></label>
                    <input type="text" th:class="form-control" th:field="*{name}" class="form-control">
                </div>
            </div>


            <div class="form-group mb-3">
                <label class="input-group-text" id="descriptionArea" th:text="#{common.description}"></label>
                <textarea class="form-control" th:class="form-control" th:field="*{description}" id="textAreaControl"
                          rows="10" readonly></textarea>
            </div>


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.type}"></label>
                    <input type="text" th:class="form-control" th:value="#{${'type.' + issue.type}}"
                           class="form-control" readonly>
                </div>
            </div>


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.priority}"></label>
                    <input type="text" th:class="form-control" th:value="#{${'priority.' + issue.priority}}"
                           class="form-control"
                           readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.executor}"></label>
                    <input type="text" th:class="form-control" th:value="*{assignee.realName}" class="form-control"
                           readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.status}"></label>
                    <input type="text" th:class="form-control" th:value="#{${'status.' + issue.status}}"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.project}"></label>
                    <input type="text" th:class="form-control" th:value="*{project.name}" class="form-control" readonly>
                </div>
            </div>


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" id="dateId" th:text="#{issue.dateCreated}"></label>
                    <input type="text" th:class="form-control"
                           th:value="${#dates.format(issue.getDateCreated(), 'dd-MM-yyyy')}" class="form-control"
                           readonly>
                </div>
            </div>

            <div class="col">
                <a th:href="@{/issues}" class="btn btn-primary mb-3" th:text="#{common.cancel}"></a>
            </div>

        </form>

    </section>
</div>
</body>
</html>