<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.view}"></title>
</head>
<body>
<div class="container">

    <section layout:fragment="custom-content">

        <h1 th:text="#{issue.view}"></h1>

        <form th:action="@{/issues/view/{id} (id=${issue.getId()})}" th:object="${issue}" method="get">


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" id="inputId" th:text="#{common.id}"></label>
                    <input type="text" th:class="form-control" th:field="*{id}" class="form-control" readonly>
                </div>
            </div>


            <div class="form-group mb-3">
                <label class="input-group-text" id="descriptionArea" th:text="#{common.description}"></label>
                <textarea class="form-control" th:class="form-control" th:field="*{description}" id="textAreaControl"
                          rows="10" readonly></textarea>
            </div>


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.type}"></label>
                    <input type="text" th:class="form-control" th:value="#{${'type.' + issue.type}}"
                           class="form-control" readonly>
                </div>
            </div>


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.priority}"></label>
                    <input type="text" th:class="form-control" th:value="#{${'priority.' + issue.priority}}"
                           class="form-control"
                           readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.executor}"></label>
                    <input type="text" th:class="form-control" th:value="*{assignee.realName}" class="form-control"
                           readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.status}"></label>
                    <input type="text" th:class="form-control" th:value="#{${'status.' + issue.status}}"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" th:text="#{issue.project}"></label>
                    <input type="text" th:class="form-control" th:value="*{project.name}" class="form-control" readonly>
                </div>
            </div>


            <div class="form-group mb-3">
                <div class="input-group">
                    <label class="input-group-text" id="dateId" th:text="#{issue.dateCreated}"></label>
                    <input type="text" th:class="form-control"
                           th:value="${#dates.format(issue.getDateCreated(), 'dd-MM-yyyy')}" class="form-control"
                           readonly>
                </div>
            </div>


            <!--            COMMENT SECTION-->


            <div class="form-group mb-3">

                <div>
                    <h6 class="fw-bold text-primary mb-1"
                        th:value="${#dates.format(issue.getDateCreated(), 'dd-MM-yyyy')}"></h6>
                    <p class="text-muted small mb-0"
                       th:href="@{/person/view/{id}(id=${@personService.findLoggedUserId(#authentication.name)})}"></p>
                </div>
                <label for="textAreaControl"></label>
                <label class="input-group-text" id="commentSection" th:text="#{issue.comment}"></label>
                <textarea class="form-control" th:class="form-control" th:field="*{description}" id="commentField"
                          rows="10"
                          th:placeholder="#{issue.description}"></textarea>

                <div class="small d-flex justify-content-start">
                    <a href="#!" class="d-flex align-items-center me-3">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>


                <div class="small d-flex justify-content-start">
                    <a href="#!" class="d-flex align-items-center me-3">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </div>


                <div class="float-end mt-2 pt-1">
                    <button type="button" class="btn btn-primary btn-sm">Post comment</button>
                    <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                </div>
            </div>


            <div class="form-group mb-3" th:if="${issue.attachment}">
                <a class="btn btn-success" role="button" th:download="${issue.getAttachment()}"
                   th:href="@{/issues/download/{id}(id=${issue.getId()})}"><span
                        th:text="#{issue.attachment.view}"></span> </a>
            </div>

            <div class="col">
                <a th:href="@{/issues}" class="btn btn-primary mb-3" th:text="#{common.cancel}"></a>
            </div>

            <div class="container">


                <h2 th:text="#{issue.history}"></h2>

                <div class="row" th:each="revision : ${revisions}">
                    <span th:text="${revision.getDate()}"></span> |
                    <span th:text="${revision.getActor()}"></span> |
                    <span th:text="${revision.getRevisionType()}"></span> |
                    <span th:text="${revision.getTitle()}"></span> |
                    <span th:text="${revision.getStatus()}"></span>
                </div>
            </div>


        </form>
    </section>
</div>
</body>
</html>